nav{
  background-color: black;
  top: 0; /* Position the navbar at the top of the page */
  padding: 15px;
  a{
    margin: 5px;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
}
