<h1>TODO's
  <button (click)="addingTodo = true">+</button>
</h1>
<h2 *ngIf="param$ | async">
  Param value is: {{param$ | async}}
</h2>
<div class="column" *ngIf="addingTodo">
  <div class="card">
    <form [formGroup]="todoForm">
      <label for="title">Title:</label>
      <input id="title" type="text" formControlName="title">
      <button (click)="addTodo()" [disabled]="!todoForm.valid">Add</button>
    </form>
  </div>
</div>
<div class="column">
  <div *ngFor="let todo of todos$ | async" class="card">
    <input type="checkbox" [(ngModel)]="todo.completed">
    <label>{{todo.title}}</label>
  </div>
</div>
